@use "../../design/layout.scss";
@use "../../design/animate.scss";
@use "../../design/colors.scss";
@use "../../design/list.scss";

.dropdown-menu-container {
  @extend %border-radius;
  @extend %shadow-medium;
  @include animate.set-animation(0.1s);
  left: 0;
  opacity: 0;
  position: absolute;
  top: var(--menu-top);
  visibility: hidden;
  width: var(--menu-width);
  z-index: 999;

  &.dropdown-menu-open {
    animation-name: dropdown-menu-open;
    opacity: 1;
    visibility: visible;
  }

  &.dropdown-menu-close {
    animation-name: dropdown-menu-close;
    transform: scale(0.98);
  }
}

.dropdown-options {
  @extend %list;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
  max-height: var(--max-height);
  overflow-x: hidden;
  overflow-y: auto;
}

.dropdown-option {
  @extend %list-item-left;
  padding: 0.5rem 0;
  width: 100%;

  &:hover {
    background: colors.$light-bg;
  }

  &.disabled {
    @extend %disabled;
  }
}

.dropdown-option-value {
  @extend %text-no-wrap;
  padding-left: 1rem;
  text-align: left;
  width: 80%;
}

.dropdown-search-input {
  margin: 1rem auto;
  width: 90%;
}

$hide-anim: (
  opacity: 0,
  visibility: hidden,
  transform: scale(0.98),
);
$show-anim: (
  opacity: 1,
  visibility: visible,
  transform: scale(1),
);

$dropdown-anim-settings: (
  from: $hide-anim,
  to: $show-anim,
);

@include animate.keyframes-motion-multi(
  dropdown-menu-open,
  $dropdown-anim-settings
);
@include animate.keyframes-motion-multi(
  dropdown-menu-close,
  $dropdown-anim-settings,
  true
);
