.widget-fade-enter {
  opacity: 0;
}

.widget-fade-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.rc-demo-prop-section {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.rc-demo-stack-blitz-collection {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.rc-demo-stack-blitz {
  align-items: center;
  display: flex;
  justify-content: center;

  iframe {
    border: 0;
    box-shadow: none;
    height: 700px;
  }
}

.rc-demo-page-links-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 2rem;

  a {
    margin-right: 14px;
    margin-top: 14px;
  }
}
