@use '../../../lib/design/theme.scss';
@use '../../../lib/design/font.scss';
@use '../../../lib/design/core.scss';

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.rc-doc-widgets-collection {
  justify-self: flex-start;
  width: 100%;
  animation: fadeIn 0.5s ease-in-out;
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--rc-bg-color);
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
}

.rc-doc-widgets-wrapper {
  align-items: flex-start;
  height: 100%;
  justify-items: center;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  position: relative;

  @media (min-width: 992px) {
    grid-template-columns: minmax(0, 1fr) 250px;
  }

  @media (min-width: 1200px) {
    grid-template-columns: minmax(0, 1fr) 300px;
  }
}

.rc-doc-link {
  align-items: center;
  color: theme.$white;
  display: flex;
  height: 35px;
  justify-content: flex-start;
  overflow: hidden;
  padding-left: 0.5rem;
  text-decoration: none;
  text-overflow: ellipsis;
  width: calc(100% - 1rem);

  span {
    font-size: font.$font-size-sm;
  }

  &:hover {
    background-color: rgba(theme.$white, 0.1);
    border-radius: 4px;
  }

  &.selected {
    background-color: rgba(theme.$black, 0.1);
    border-radius: 4px;
  }

  &.dark {
    color: theme.$white;
  }

  &:not(.dark) {
    color: theme.$black;
  }
}

.rc-doc-links-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0.5rem;

  &.dark {
    background: theme.$cod-gray;
  }

  &:not(.dark) {
    background: theme.$light-bg;
  }
}

.rc-doc-links-container {
  font-size: 14px;
  position: fixed;
  right: 0;
  top: 0;
  width: 200px;
  z-index: 999;
}

@media (min-width: 1200px) {
  .rc-doc-links-container {
    width: 300px;
  }
}

.rc-doc-links-header {
  @extend %left;
  border-bottom: 1px solid theme.$primary;
  color: theme.$white;
  color: theme.$primary;
  font-size: 1rem;
  font-weight: 400;
  height: 40px;
  margin-bottom: 1rem;
  width: 95%;
}

.rc-link-icon {
  align-items: center;
  color: rgba(theme.$white, 0.2);
  display: flex;
  height: 0.5rem;
  justify-content: center;
  margin-right: 0.5rem;
  width: 0.5rem;

  &:not(.dark):not(.selected) {
    color: theme.$chinese-gray;
  }

  &.selected {
    color: theme.$primary;
  }

  svg {
    height: 100%;
    width: 100%;
  }
}
