@use "../../design/layout.scss";
@use "../../design/position.scss";
@use "../../design/icon.scss";
@use "../../design/colors.scss";
@use "../../design/animate.scss";
@use "../../design/animations.scss";

$sizes: (
  sm: 0.5rem,
  md: 0.75rem,
  lg: 1rem,
);

$halo-sizes: (
  sm: 1.5rem,
  md: 2rem,
  lg: 2.5rem,
);

.rc-radio-wrapper {
  @extend %left;
}

.rc-radio {
  @extend %left;
  @include animate.halo(50%);
  user-select: none;

  &.rc-disabled {
    @extend %disabled;
    cursor: not-allowed;
  }

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: 0;
  }

  @each $key, $val in $sizes {
    &.rc-radio-#{$key} {
      .rc-radio-icon {
        &.rc-radio-ico-checked::after {
          height: $val;
          width: $val;
        }
      }
    }
  }

  @each $key, $val in $halo-sizes {
    &.rc-radio-#{$key} {
      .rc-radio-icon {
        @extend %icon-#{$key};
      }
    }
  }
}

%pseudo-common {
  background-color: colors.$primary;
  border-radius: 50%;
  content: "";
  display: block;
}

.rc-radio-icon {
  @extend %border;
  border-radius: 50%;
  display: block;
  position: relative;

  &.rc-radio-ico-checked::after {
    @extend %shadow-inset;
    @extend %pseudo-common;
    background: colors.$primary;
  }

  &.rc-radio-ico-checked::before {
    @extend %pseudo-common;
    background: rgba(colors.$primary, 0.1);
  }

  &.rc-radio-ico-un-checked::before {
    @extend %pseudo-common;
    background: rgba(colors.$primary, 0.1);
  }
}

.rc-radio-label {
  @extend %left;
  padding-left: 0.5rem;
}

@include animate.set-keyframes(
  animate-radio-select,
  (
    from: (
      background: colors.$white,
    ),
    to: (
      background: colors.$primary,
    ),
  )
);
