@use "../../design/layout.scss";
@use "../../design/position.scss";
@use "../../design/icon.scss";
@use "../../design/colors.scss";
@use "../../design/animate.scss";
@use "../../design/animations.scss";
@use "../../design/font.scss";

$sizes: (
  sm: 1rem,
  md: 1.5rem,
  lg: 2rem,
);

$halo-sizes: (
  sm: 1.5rem,
  md: 2rem,
  lg: 2.5rem,
);

$heights: (
  sm: 35px,
  md: 50px,
  lg: 60px,
);

.rc-radio-wrapper {
  @extend %left;
  cursor: pointer;
  display: grid;
  justify-items: center;
  width: 100%;

  &.rc-radio-disabled {
    @extend %disabled;
    cursor: not-allowed;
  }

  &:not(.rc-radio-disabled) {
    @include animate.halo();
  }

  &:hover:not(.rc-radio-disabled) {
    @extend %border-radius;
    background: rgba(colors.$secondary, 0.25);
  }

  @each $key, $val in $heights {
    &.rc-radio-#{$key} {
      grid-template-columns: calc($val) auto;
      min-height: $val;
    }
  }
}

.rc-radio {
  @extend %left;
  cursor: pointer;
  position: relative;
  user-select: none;

  &:focus {
    outline: 0;
  }

  @each $key, $val in $sizes {
    &.rc-radio-#{$key} {
      .rc-radio-icon {
        &.rc-radio-ico-checked::after {
          height: calc(50%);
          width: calc(50%);
        }
      }
    }
  }

  @each $key, $val in $halo-sizes {
    &.rc-radio-#{$key} {
      .rc-radio-icon {
        @extend %icon-#{$key};
      }
    }
  }
}

%pseudo-common {
  background-color: colors.$primary;
  border-radius: 50%;
  content: "";
  display: block;
}

.rc-radio-icon {
  border: 1px solid rgba(colors.$primary, 0.25);
  border-radius: 50%;
  display: block;
  position: relative;

  &:hover:not(.rc-radio-disabled) {
    @extend %shadow-inset;
  }

  &.rc-radio-ico-checked {
    background-color: rgba(colors.$secondary, 0.5);
  }

  &.rc-radio-ico-checked::after {
    @extend %pseudo-common;
    background: colors.$primary;
  }

  &.rc-radio-ico-checked::before {
    @extend %pseudo-common;
    background: rgba(colors.$primary, 0.1);
  }

  &.rc-radio-ico-un-checked::before {
    @extend %pseudo-common;
    background: rgba(colors.$primary, 0.1);
  }
}

.rc-radio-label {
  @extend %left;
  cursor: pointer;

  &.rc-radio-disabled {
    @extend %disabled;
  }

  @each $key, $val in $sizes {
    &.rc-radio-label-#{$key} {
      @extend %font-#{$key};
    }
  }
}

@include animate.set-keyframes(
  animate-radio-select,
  (
    from: (
      background: colors.$white,
    ),
    to: (
      background: colors.$primary,
    ),
  )
);
