@use "../../design/layout.scss";
@use "../../design/colors.scss";
@use "../../design/icon.scss";
@use "../../design/button.scss";
@use "../../design/focus.scss";
@use "../../design/animate.scss";

.rc-input {
  @include animate.halo();
  align-items: center;
  display: grid;
  grid-template-columns: 2rem calc(100% - 4rem) 2rem;
  height: 35px;
  justify-items: center;

  &.rc-input-default {
    @extend %border;
  }

  &.rc-input-error {
    @extend %border-error;
  }

  &.rc-input-success {
    @extend %border-success;
  }

  &.rc-input-no-icon {
    grid-template-columns: 0.5rem calc(100% - 2.5rem) 2rem;
  }

  input {
    background: transparent;
    border: 0;
    color: colors.$black;
    height: 35px;
    outline: 0;
    padding: 0;
    width: 100%;
  }
}

.rc-input-icon {
  @extend %icon-sm;
}

.rc-input-clear {
  @extend %icon-sm;
  cursor: pointer;
  display: block;
  width: 100%;

  &.hidden {
    visibility: hidden;
  }
}
