@use "../../design/layout.scss";
@use "../../design/colors.scss";
@use "../../design/icon.scss";

$compact-row-height: 35px;
$comfortable-row-height: 50px;

.rc-data-grid {
  @extend %col;
  overflow: hidden;
  width: 100%;

  &.rc-data-grid-border {
    @extend %border-radius;
    border: 1px solid colors.$secondary;
  }
}

.rc-data-grid-row-zebra {
  &:nth-child(odd) {
    background-color: rgba(colors.$light-bg, 0.75);
  }
}

.rc-data-grid-row {
  width: 100%;

  &:not(:last-child):not(.rc-data-grid-row-zebra) {
    border-bottom: 1px solid colors.$secondary;
  }

  &:hover {
    background-color: colors.$light-bg;
  }

  &.rc-data-grid-row-compact {
    min-height: $compact-row-height;
  }

  &.rc-data-grid-row-comfortable {
    min-height: $comfortable-row-height;
  }

  .rc-data-grid-cell-border:not(:last-child) {
    border-right: 1px solid colors.$secondary;
  }
}

.rc-data-grid-cell {
  @extend %center;
  width: calc(100% - 1px);
}

.rc-data-grid-cell-val {
  display: block;
  font-weight: 300;
  line-height: 25px;
  padding: 0.5rem 0;
  padding-left: 0.25rem;
  width: 90%;

  &.rc-data-grid-cell-val-fixed {
    @extend %text-no-wrap;
  }

  &:not(.rc-data-grid-cell-val-fixed) {
    overflow-wrap: anywhere;
  }

  em {
    @extend %border-radius;
    background-color: rgba(colors.$light-bg, 1);
    color: colors.$primary;
    font-style: normal;
    font-weight: 400;
    padding: 0.1rem 0.2rem;
  }
}
