@use "../../design/layout.scss";
@use "../../design/colors.scss";
@use "../../design/icon.scss";

.rc-data-grid {
  @extend %col;
  overflow: hidden;
  width: 100%;

  &.rc-data-grid-border {
    @extend %border-radius;
    border: 1px solid colors.$gray;
  }
}

.rc-data-grid-row {
  width: 100%;

  &:not(:last-child) {
    border-bottom: 1px solid colors.$gray;
  }

  &:hover {
    background-color: colors.$light-bg;
  }

  &.rc-data-grid-row-compact {
    min-height: 50px;
  }

  &.rc-data-grid-row-comfortable {
    min-height: 60px;
  }

  .rc-data-grid-cell-border:not(:last-child) {
    border-right: 1px solid colors.$gray;
  }
}

.rc-data-grid-cell {
  @extend %center;
  width: calc(100% - 1px);
}

.rc-data-grid-cell-val {
  display: block;
  font-weight: 300;
  padding: 0.5rem 0;
  padding-left: 0.25rem;
  width: 90%;

  &.rc-data-grid-cell-val-fixed {
    @extend %text-no-wrap;
  }

  &:not(.rc-data-grid-cell-val-fixed) {
    overflow-wrap: anywhere;
  }

  em {
    @extend %border-radius;
    background-color: rgba(colors.$primary, 0.1);
    color: colors.$primary;
    font-style: normal;
    font-weight: 400;
    padding: 0.25rem 0.5rem;
  }
}
