.widget-fade-enter {
  opacity: 0;
}

.widget-fade-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.rc-demo-prop-section {
  align-items: center;
  display: flex;
  flex-direction: column;
}


.rc-demo-stackblitz-collection {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.rc-demo-stackblitz {
  margin-bottom: 20px;
  margin-right: 20px;

  iframe {
    height: 700px;
    box-shadow: none;
    border: 0;
  }
}