.rc-demo-footer {
  align-items: center;
  background: #0074b7;
  border-radius: 2px;
  color: #fff;
  display: flex;
  font-size: 14px;
  margin-top: auto;
  min-height: 65px;
  width: 100%;

  a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
  }

  @media (min-width: 320px) and (max-width: 480px) {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    > * {
      margin: 10px 0;
    }
  }
}

.rc-demo-footer > * {
  padding: 0.5rem;

  &:hover {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    cursor: pointer;
  }
}

.rc-demo-footer-content {
  margin-left: 1rem;
}

.github-link {
  // margin-left: auto;
  margin-right: 1rem;

  a {
    align-items: center;
    color: #fff;
    display: flex;
    font-size: 14px;
    text-decoration: none;
    text-decoration: none;
  }

  svg {
    height: 14px;
    margin-right: 0.25rem;
    width: 14px;
  }
}

.rc-footer-credit {
  margin-left: auto;
  margin-right: auto;
}
