node_modules
.DS_Store
dist
dist-ssr
*.local
out
.vscode

.vercel
dts
temp
expo_dist
.vite_cache
.turbo

cache
.cache
.jest-cache

.env*
bundle-analysis**

storybook-static
build-storybook.log

debug.log

coverage