@use '@design/theme.scss';

.content {
  border-radius: 8px;
  padding: 3rem;
}

@mixin grid {
  column-gap: 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: center;
}

@media (min-width: 768px) {
  .content {
    max-width: 600px;
  }
}

@media (min-width: 1024px) {
  .content {
    display: flex;
    flex-direction: column;
    max-width: 800px;
  }
}

@media (min-width: 1280px) {
  .content {
    @include grid;
    max-width: 1000px;
  }
}

@media (min-width: 1440px) {
  .content {
    @include grid;
    max-width: 1240px;
  }
}

@media (min-width: 1920px) {
  .content {
    @include grid;
    max-width: 1700px;
  }
}

@media (min-width: 2560px) {
  .content {
    @include grid;
    max-width: 2000px;
  }
}

.left_column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 400px;
}

.right_column {
  align-items: center;
  align-self: flex-end;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  width: 100%;
}

.header {
  color: theme.$primary;
  font-size: 3rem;
  font-weight: 500;
  margin: 0.2rem 0;
  text-transform: uppercase;
}

.sub_text {
  font-size: 2rem;
  font-weight: 300;
  margin: 1rem 0;

  &.dark {
    color: #fff;
  }
}

.get_started_btn {
  background-color: var(--rc-secondary-color-hex);
  border: 0;
  border-radius: 4px;
  color: var(--rc-color-white);
  font-size: 1.2rem;
  margin-top: 3rem;
  padding: 1rem;
  width: 200px;
}

.buttons {
  display: flex;
  margin: 3rem 0 0;

  > :first-child {
    margin-right: 1rem;
  }
}
