.hero {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  // curved border
  // clip-path: polygon(0 50%, 100% 0, 100% 85%, 0 100%);

  @media (min-width: 768px) {
    min-height: 1080px;
  }

  @media (min-width: 1280px) {
    min-height: 820px;
  }

  &:not(.dark) {
    background: linear-gradient(to right, #ff9933, #ffcc33, #ff9933);
  }

  &.dark {
    background: linear-gradient(to right, #1c2237, #292d47, #1c2237);
  }
}
