@use '@design/theme.scss';

.content {
  border-radius: 8px;
  padding: 1rem;

  @media (min-width: 1920px) {
    margin-top: 2rem;
  }
}

@mixin grid {
  column-gap: 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: center;
}

@media (min-width: 768px) {
  .content {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
}

@media (min-width: 1280px) {
  .content {
    @include grid;
    max-width: 100%;
  }
}

@media (min-width: 1440px) {
  .content {
    @include grid;
    max-width: 1340px;
  }
}

@media (min-width: 1920px) {
  .content {
    @include grid;
    max-width: 1700px;
  }
}

@media (min-width: 2560px) {
  .content {
    @include grid;
    max-width: 2000px;
  }
}

.left_column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1rem 0;
  width: 95%;

  @media (min-width: 768px) {
    min-width: 400px;
  }
}

.right_column {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: 768px) {
    align-self: flex-end;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}

.header {
  color: theme.$primary;
  font-size: 3rem;
  font-weight: 500;
  margin: 0.2rem 0;
  text-transform: uppercase;
}

.sub_text {
  font-size: 2rem;
  font-weight: 300;
  margin: 1rem 0;

  &.dark {
    color: #fff;
  }
}

.get_started_btn {
  background-color: var(--rc-secondary-color-hex);
  border: 0;
  border-radius: 4px;
  color: var(--rc-color-white);
  font-size: 1.2rem;
  margin-top: 3rem;
  padding: 1rem;
  width: 200px;
}

.buttons {
  display: flex;
  margin: 1rem 0;

  > :first-child {
    margin-right: 1rem;
  }
}
