.hero {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  width: 100%;

  @media (min-width: 1rem) {
    min-height: 1200px;
  }

  @media (min-width: 43rem) {
    min-height: 980px;
  }

  @media (min-width: 768px) {
    min-height: 1080px;
  }

  @media (min-width: 1280px) {
    min-height: 820px;
  }

  &:not(.dark) {
    background: linear-gradient(
      to left bottom,
      rgba(#bfdbf7, 1) 20%,
      rgba(#e1e5f2, 1)
    );
  }

  &.dark {
    background: linear-gradient(
      to right bottom,
      rgba(#b8c0ff, 0.3) 10%,
      rgba(#1e1e1e, 0.9)
    );
  }
}
