.landing {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.features_wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  // background: rgba(var(--rc-primary-color-rgb), 1);
  width: 100%;

  @media (min-width: 43rem) {
    padding: 2rem 0;
  }
}
