@use "../../design/layout.scss";
@use "../../design/colors.scss";
@use "../../design/icon.scss";
@use "../../design/button.scss";
@use "../../design/font.scss";
@use "../../design/animate.scss";

$types: (primary, default, danger);
$sizes: (sm, md, lg);

.rc-btn {
  &:not(.rc-btn-danger) {
    @include animate.halo();
  }

  &.rc-btn-danger {
    @include animate.halo(4px, 4px);
  }

  &.rc-btn-no-border {
    border: 0;
    box-shadow: none;
  }
}

@each $value in $types {
  .rc-btn-#{$value} {
    @extend %button-#{$value};

    &.rc-disabled {
      @extend %disabled;
    }
  }
}

@each $size in $sizes {
  .rc-btn-#{$size} {
    @extend %font-#{$size};
    @extend %button-#{$size};

    .rc-btn-icon-container {
      @extend %icon-#{$size};
    }

    .rc-btn-label {
      @extend %font-#{$size};
    }
  }
}

.rc-btn-label {
  @extend %text-no-wrap;
  text-transform: capitalize;
}

.rc-btn-icon {
  border-radius: 50%;
  padding: 0.25rem;

  &.rc-disabled {
    @extend %disabled;
  }

  &:not(.rc-disabled) {
    background: colors.$light-bg;
  }

  &:hover:not(.rc-disabled) {
    background: colors.$secondary;
  }
}

.rc-btn-icon-container + .rc-btn-label {
  margin-left: 0.25rem;
}

.rc-btn-progress-wrapper {
  margin-right: 0.5rem;
}
