@use "../../design/layout.scss";
@use "../../design/colors.scss";
@use "../../design/icon.scss";
@use "../../design/button.scss";

%disabled-btn-common {
  @extend %disabled;

  &:hover {
    background: none;
  }
}

$types: (primary, default, danger);

@each $value in $types {
  .button-#{$value} {
    @extend %button-sm;
    @extend %button-#{$value};

    &.button-disabled {
      @extend %disabled-btn-common;
    }
  }
}

.button-icon {
  @extend %button-lg;
  @extend %button-icon;
}

.button-icon-container {
  @extend %icon-md;
}

.button-label {
  font-size: 14px;
  font-weight: normal;
}
