@use "../../design/layout.scss";
@use "../../design/colors.scss";
@use "../../design/icon.scss";
@use "../../design/button.scss";
@use "../../design/font.scss";

%disabled-btn-common {
  @extend %disabled;

  &:hover {
    background: none;
  }
}

$types: (primary, default, danger);
$sizes: (
  sm: 35,
  md: 45,
  lg: 50,
);

@each $value in $types {
  .rc-btn-#{$value} {
    @extend %button-sm;
    @extend %button-#{$value};

    &.rc-btn-disabled {
      @extend %disabled-btn-common;
    }
  }
}

@each $key, $val in $sizes {
  .rc-btn-#{$key} {
    @extend %font-#{$key};
    height: #{$val}px;

    .rc-btn-icon-container {
      @extend %icon-#{$key};
      margin-right: 0.2rem;
    }
  }
}

.rc-btn-icon {
  @extend %button-lg;
  @extend %button-icon;
}

// .rc-btn-icon-container {
//   @extend %icon-md;
// }

.rc-btn-label {
  font-weight: normal;
}
