.rc-doc-app-settings-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: 1rem;
}

.rc-doc-app-settings-icon {
  align-items: center;
  color: rgba(0, 0, 0, 0.65);
  cursor: pointer;
  display: flex;
  justify-content: center;

  svg {
    height: 80%;
  }
}
