@use "../../design/list.scss";
@use "../../design/layout.scss";
@use "../../design/animate.scss";
@use "../../design/colors.scss";

.rc-menu-wrapper {
  @extend %center;
  height: 100%;
  position: relative;
}

.rc-menu-content-wrapper {
  @extend %center;
  height: 100%;
  position: relative;
}

.rc-menu {
  $animation: (
    from: (
      opacity: 0,
      visibility: hidden,
    ),
    to: (
      opacity: 1,
      visibility: visible,
    ),
  );
  @extend %list;
  @extend %shadow-medium;
  @extend %border-radius;
  @extend %col;
  @include animate.set-animation(100ms);
  @include animate.set-keyframes(animate-menu-open, $animation);
  @include animate.set-keyframes(animate-menu-close, $animation, true);
  min-width: 150px;
  opacity: 0;
  position: absolute;
  visibility: hidden;

  &.rc-menu-open {
    animation-name: animate-menu-open;
    opacity: 1;
    visibility: visible;
  }

  &.rc-menu-close {
    animation-name: animate-menu-close;
    opacity: 0;
    visibility: hidden;
  }
}

.rc-menu-item {
  @extend %list-item-left;
  height: 35px;
  width: 100%;

  &:hover {
    background: colors.$secondary;
  }

  &:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  &:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  &.rc-menu-item-disabled {
    @extend %disabled;
  }
}

.rc-menu-item-name {
  padding-left: 0.5rem;
}
