@use "../../design/list.scss";
@use "../../design/layout.scss";
@use "../../design/animate.scss";
@use "../../design/colors.scss";

.rc-menu-wrapper {
  @extend %center;
  height: 100%;
  position: relative;
}

.rc-menu-content-wrapper {
  @extend %center;
  height: 100%;
  position: relative;

  * {
    outline: 0;
  }
}   

.rc-menu {
  $animation: (
    from: (
      opacity: 0,
      visibility: hidden,
    ),
    to: (
      opacity: 1,
      visibility: visible,
    ),
  );
  @extend %list;
  @extend %border-radius;
  @extend %col;
  @include animate.set-animation(0.1s);
  @include animate.set-keyframes(animate-menu-open, $animation);
  @include animate.set-keyframes(animate-menu-close, $animation, true);
  background: colors.$white;
  // @extend %shadow-small;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
  min-width: 150px;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  z-index: 999;

  &.rc-menu-open {
    animation-name: animate-menu-open;
    opacity: 1;
    visibility: visible;
  }

  &.rc-menu-close {
    animation-name: animate-menu-close;
    opacity: 0;
    visibility: hidden;
  }
}
