@use "../../design/layout.scss";
@use "../../design/list.scss";
@use "../../design/icon.scss";

.rc-tags-wrap {
  @extend %list-wrap;
}

.rc-tag {
  @extend %shadow-inset;
  @extend %border;
  @extend %list-item;
  margin: 0.25rem;
  padding: 0.5rem;

  user-select: none;

  &.rc-tag-disabled {
    @extend %disabled;
    padding: 0.5rem 1rem;
  }

  &.rc-tag-readonly {
    padding: 0.5rem 1rem;
  }
}

.rc-tag-icon {
  @extend %icon-sm;
  margin-left: 0.5rem;
}

.rc-tags-input-wrapper {
  margin: 0.25rem;
  position: relative;
}
