@use "../../design/layout.scss";
@use "../../design/list.scss";
@use "../../design/icon.scss";
@use "../../design/colors.scss";
@use "../../design/animate.scss";

.rc-tags-wrap {
  @extend %list-wrap;
}

.rc-tag {
  $settings: (
    from: (
      visibility: hidden,
      opacity: 0,
    ),
    to: (
      visibility: visible,
      opacity: 1,
    ),
  );
  @include animate.set-animation(0.1s, linear);
  @include animate.set-keyframes("tag-fade-in", $settings);
  @include animate.set-keyframes("tag-fade-out", $settings, true);
  max-width: var(--width);
  transform: scale(1);

  user-select: none;
  visibility: visible;

  &.rc-tag:not(.rc-tag-disabled):not(.rc-tag-readonly) {
    align-items: center;
    column-gap: 0.2rem;
    display: grid;
    grid-template-columns: calc(100% - 1rem) 1rem;
    justify-items: center;
  }

  &.rc-tag-disabled {
    @extend %disabled;
  }

  // &.rc-tag-style-default:not(.rc-tag-disabled) {
  // @extend %shadow-inset;
  // }

  &.rc-tag-style-fill:not(.rc-tag-disabled):not(.rc-tag-readonly) {
    @extend %border-radius;
    background: colors.$primary;
    color: colors.$white;
  }

  &.rc-tag-style-default {
    @extend %border;
  }

  &.rc-tag-readonly {
    @extend %border-radius;
    background: rgba(colors.$primary, 1);
    color: colors.$white;
  }

  &.rc-tag-readonly {
    @extend %center;
  }

  &.rc-tag-small {
    margin: 0.2rem;
    padding: 0.2rem 0.5rem;
  }

  &.rc-tag-large {
    margin: 0.25rem;
    padding: calc(100% * 0.25);
    padding: 0.5rem;
  }

  &.rc-tag-marked-for-removal {
    animation-name: tag-fade-out;
    max-width: var(--width);
    transform: scale(0.98);
    visibility: hidden;
  }
}

.rc-tag-icon {
  @extend %icon-md;
  border-radius: 50%;
  cursor: pointer;
}

.rc-tag-icon-default {
  &:hover {
    background: colors.$light-bg;
  }
}

.rc-tag-icon-fill {
  svg {
    color: colors.$white;
  }
}

.rc-tag-icon-fill:hover {
  background: colors.$light-bg;

  svg {
    color: colors.$primary;
  }
}

.rc-tag-icon-default:hover {
  background: colors.$primary;

  svg {
    color: colors.$white;
  }
}

.rc-tags-input-wrapper {
  margin: 0.25rem;
  position: relative;
}

.rc-tag-name {
  @extend %text-no-wrap;
  display: block;
  text-align: center;
  width: 100%;
}
