@use '../../../lib/design/colors.scss';

.rc-demo-position-outer-box {
  background: colors.$light-bg;
  height: 200px;
  position: relative;
  width: 200px;
}

.rc-demo-position-inner-box {
  background: var(--rc-primary-color-hex);
  display: block;
  height: 50px;
  position: absolute;
  width: 50px;
}
