@use "../../design/layout.scss";
@use "../../design/animate.scss";
@use "../../design/colors.scss";
@use "../../design/list.scss";
@use "../../design/position.scss";

.rc-list {
  @extend %border-radius;
  background-color: var(--list-bg-color, #fff);
  justify-items: center;
  row-gap: 6px;
  width: 100%;

  &:not(.rc-list-search) {
    @extend %col;
  }

  &.rc-list-search {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px calc(var(--max-height) - 56px);
  }

  &.rc-list-border {
    @extend %border;
  }

  &:not(.rc-list-border) {
    @extend %shadow-small;
  }
}

.rc-list-search-input {
  @extend %center;
  margin-top: 0.2rem;
  width: 95%;
}

$hide-anim: (
  opacity: 0,
  visibility: hidden,
  transform: scale(0.95),
);
$show-anim: (
  opacity: 1,
  visibility: visible,
  transform: scale(1),
);

$list-anim-settings: (
  from: $hide-anim,
  to: $show-anim,
);

.rc-list-options-wrapper {
  max-height: var(--max-height);
  overflow-y: auto;
  width: 100%;
}

.rc-list-options {
  @extend %list;
  height: var(--list-height);
  justify-content: flex-start;
  margin-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 0.5rem;
  position: relative;
  width: 100%;
}

@include animate.set-keyframes(list-menu-open, $list-anim-settings);
@include animate.set-keyframes(list-menu-close, $list-anim-settings, true);
