@use "../../design/layout.scss";
@use "../../design/list.scss";
@use "../../design/position.scss";
@use "../../design/colors.scss";

$height: 40px;

.rc-list-options {
  @extend %list;
  justify-content: flex-start;
  margin-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 0.5rem;
  width: 100%;
}

.rc-list-option {
  @extend %list-item-left;
  @extend %border-radius;
  height: $height;
  margin: 0.25rem 0;
  position: relative;
  width: 90%;
  z-index: 0;

  &:hover:not(.rc-list-option-disabled):not(.rc-list-option-selected)::after,
  &.rc-list-option-selected::after {
    @extend %border-radius;
    @include position.position-abs("middle left");
    background: colors.$light-bg;
    content: "";
    display: block;
    height: 105%;
    left: -5px;
    width: 102%;
    z-index: -2;
  }

  &.rc-list-option-disabled {
    @extend %disabled;
  }
}

.rc-list-option-value {
  @extend %text-no-wrap;
  height: $height;
  line-height: $height;
  padding-left: 1rem;
  width: 100%;
}

.rc-list-item-checkbox-wrapper {
  @extend %center;
  height: 100%;
  width: 100%;
}
