@use "../../design/layout.scss";
@use "../../design/list.scss";
@use "../../design/position.scss";
@use "../../design/colors.scss";
@use "../../design/icon.scss";
@use "../../design/animate.scss";

$height: 40px;

.rc-list-item-wrapper {
  height: 100%;
  position: relative;
  width: 100%;
}

.rc-list-option {
  @extend %list-item-left;
  cursor: pointer;
  height: $height;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 0;
  
  &.rc-list-option-focus {
    @include animate.halo();
  }

  &:not(.rc-list-option-focus) {
    outline: 0;
  }

  &:hover:not(.rc-list-option-disabled) {
    background: rgba(colors.$secondary, 0.25);
  }

  &.rc-list-option-disabled {
    @extend %disabled;
  }

  &.rc-list-option-selected.rc-list-option-highlight-selection {
    background: rgba(colors.$secondary, 50%);
  }
}

.rc-list-option-value-wrapper {
  @extend %left;

  color: var(--text-color);
  height: 100%;
  padding-left: 0.5rem;
  pointer-events: none;
  width: calc(100% - 0.5rem);

  &:not(.rc-list-option-no-icon) {
    display: grid;
    grid-template-columns: 2rem calc(100% - 2rem);
    justify-items: center;
  }
}

.rc-list-option-value {
  @extend %text-no-wrap;
  font-weight: 300;
  line-height: $height;
  padding-left: 0.5rem;
  pointer-events: none;
  text-transform: capitalize;
  width: 100%;
}

.rc-list-option-icon {
  @extend %center;
  color: colors.$primary;
  height: 100%;
  visibility: hidden;
  width: 80%;

  svg {
    height: 100%;
    width: 100%;
  }

  &.rc-list-option-selected {
    visibility: visible;
  }
}

.rc-list-item-checkbox-wrapper {
  @extend %center;
  height: 100%;
  width: 100%;
}
