@use "../../design/layout.scss";
@use "../../design/list.scss";
@use "../../design/position.scss";
@use "../../design/colors.scss";
@use "../../design/icon.scss";
@use "../../design/animate.scss";

$height: 40px;

.rc-list-options {
  @extend %list;
  height: var(--height);
  justify-content: flex-start;
  margin-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 0.5rem;
  position: relative;
  width: 100%;
}

.rc-list-option {
  @extend %list-item-left;
  @extend %border-radius;
  cursor: pointer;
  height: $height;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  width: 90%;
  z-index: 0;

  &:hover:not(.rc-list-option-disabled):not(.rc-list-option-selected)::after,
  &.rc-list-option-selected::after {
    @extend %border-radius;
    @include position.position-abs("middle left");
    background: rgba(colors.$secondary, 0.5);
    content: "";
    display: block;
    height: 105%;
    left: -5px;
    width: 102%;
    z-index: -2;
  }

  &.rc-list-option-disabled {
    @extend %disabled;
  }
}

.rc-list-option-value-wrapper {
  @extend %left;
  @include animate.halo();
  display: grid;
  grid-template-columns: 20px calc(100% - 20px);
  height: $height;
  width: 100%;
}

.rc-list-option-value {
  @extend %text-no-wrap;
  line-height: $height;
  padding-left: 0.25rem;
}

.rc-list-option-icon {
  @extend %icon-sm;
  justify-self: center;
  visibility: hidden;

  &.rc-list-option-selected {
    visibility: visible;
  }
}

.rc-list-item-checkbox-wrapper {
  @extend %center;
  height: 100%;
  width: 100%;
}
