@use "../../design/layout.scss";
@use "../../design/animate.scss";
@use "../../design/colors.scss";
@use "../../design/list.scss";
@use "../../design/position.scss";

.rc-list {
  @extend %col;
  @extend %border-radius;
  min-height: 300px;
  width: 100%;

  &:not(.rc-list-border-less) {
    @extend %border;
  }
}

.rc-list-search-input {
  margin: 1rem 0 0.25rem;
  width: 90%;
}

$hide-anim: (
  opacity: 0,
  visibility: hidden,
  transform: scale(0.95),
);
$show-anim: (
  opacity: 1,
  visibility: visible,
  transform: scale(1),
);

$list-anim-settings: (
  from: $hide-anim,
  to: $show-anim,
);

@include animate.set-keyframes(list-menu-open, $list-anim-settings);
@include animate.set-keyframes(list-menu-close, $list-anim-settings, true);
