@use "../../design/layout.scss";
@use "../../design/colors.scss";

.rc-accordion-group {
  @extend %col;
  width: 100%;

  
  &:not(.rc-accordion-grp-no-border) {
    @extend %border;
  }
}

.rc-accordion-group-item {
  @extend %left;
  margin-bottom: 0.5rem;
  width: 100%;

  // &:not(:last-child) {
    // border-bottom: 1px solid colors.$secondary;
  // }
}
