@use "../../design/layout.scss";
@use "../../design/colors.scss";
@use "../../design/list.scss";
@use "../../design/position.scss";
@use "../../design/animate.scss";

.rc-tab-panel {
  @extend %center;
}

.rc-tabs {
  @extend %col;
  padding: 1rem;
}

.rc-tab-headers-wrapper {
  @extend %left;
  width: 100%;
}

.rc-tab-headers {
  @extend %list-horizontal-left;
  height: 35px;
  padding-top: 0.25rem;
  width: 90%;
  z-index: 0;

  li {
    @extend %center;
    height: 100%;
  }
}

.rc-tab-headers-control {
  @extend %col;
}

.rc-tab-head {
  // @include animate.halo(2px);
  margin: 0 0.5rem 0 0;
  z-index: 0;
}

.rc-tab-header-label {
  @extend %center;
  @extend %border;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  cursor: pointer;
  height: 100%;
  min-width: 100px;
  position: relative;

  &.rc-tab-header-selected {
    background: colors.$light-bg;
    color: colors.$primary;
    position: relative;
  }

  &.rc-tab-header-selected::after {
    @include position.position-abs("bottom center");
    background: colors.$light-bg;
    bottom: -2px;
    content: "";
    display: block;
    height: 2px;
    width: 100%;
  }
}

.rc-tab-panels {
  @extend %list;
  @extend %border;
  // @extend %border-radius;
  background: colors.$light-bg;
  min-height: 200px;
  width: 100%;
  z-index: -1;
}
