.footer {
  align-items: center;
  border-radius: 2px;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  min-height: 100px;
  width: 100%;

  &.dark {
    background: var(--rc-secondary-color-hex);
  }

  &:not(.dark) {
    background: var(--rc-primary-color-hex);
  }

  a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
  }

  @media (min-width: 320px) and (max-width: 480px) {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    > * {
      margin: 10px 0;
    }
  }
}

.footer > * {
  padding: 0.5rem;

  &:hover {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    cursor: pointer;
  }
}

.footer_content {
  margin-left: 1rem;
}

.github_link {
  // margin-left: auto;
  margin-right: 1rem;

  a {
    align-items: center;
    color: #fff;
    display: flex;
    font-size: 14px;
    text-decoration: none;
    text-decoration: none;
  }

  svg {
    height: 14px;
    margin-right: 0.25rem;
    width: 14px;
  }
}

.credit {
  margin-left: auto;
  margin-right: auto;
}

.app_footer {
  align-self: flex-start;
  margin-top: auto;
  width: 100%;
}

@media (min-width: 1200px) {
  .app-footer {
    width: calc(100% - 300px);
  }
}

@media (min-width: 2560px) {
  .app-footer {
    width: 100%;
  }
}
