.rc-doc-badges {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin-bottom: 2rem;
  padding: 0;
  width: 95%;
}

.rc-doc-badge {
  margin: 0.25rem;
}
