.widget-fade-enter {
  opacity: 0;
}

.widget-fade-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.rc-demo-prop-section {
  align-items: center;
  display: flex;
  flex-direction: column;
}
