.rc-demo-logo {
  background-image: url("../images/cafe.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 25px;
  margin-right: 0.5rem;
  width: 25px;
}

.rc-demo-app-logo-container {
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  padding: 0.5rem;

  &:hover {
    background-color: rgba($color: #003b73, $alpha: 0.1);
  }
}

.rc-demo-app-logo {
  align-items: center;
  display: flex;
  justify-content: center;
  justify-self: flex-start;
}

.rc-demo-menu-icon {
  align-items: center;
  color: #0074b7;
  display: flex;
  height: 2rem;
  justify-content: center;
  margin-right: 0.5rem;
  width: 2rem;

  svg {
    height: 100%;
    width: 100%;
  }
}
