@use "../../design/layout.scss";
@use "../../design/colors.scss";
@use "../../design/animate.scss";
@use "../../design/position.scss";
@use "../../design/font.scss";
@use "sass:map";

$sizes: (
  sm: (
    height: 30px,
    border-radius: 20px,
  ),
  md: (
    height: 35px,
    border-radius: 30px,
  ),
  lg: (
    height: 40px,
    border-radius: 40px,
  ),
);

$knob-sizes: (
  sm: 20px,
  md: 25px,
  lg: 30px,
);

$switch-width: (
  sm: 60px,
  md: 70px,
  lg: 80px,
);

$start-left: 4px;

.rc-switch {
  @include animate.halo(40px);
  cursor: pointer;

  min-width: 50px;
  padding: 0.1rem;
  user-select: none;
  width: 100%;

  &.rc-disabled {
    @extend %disabled;
  }

  &.rc-switch-label-outside {
    @include animate.halo(20px);
    align-items: center;
    display: grid;

    @each $key, $value in $switch-width {
      &.rc-switch-#{$key} {
        grid-template-columns: $value calc(100% - $value);
      }
    }
  }
}

.rc-disabled {
  .rc-switch-knob {
    box-shadow: none;
  }
}

.rc-switch-track {
  @extend %center;
  // @extend %shadow-inset;
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 0;

  &.rc-switch-on {
    background-color: rgba(colors.$secondary, 0.5);
  }

  &.rc-switch-off {
    background-color: colors.$light-gray;
  }

  @each $key, $val in $sizes {
    &.rc-switch-#{$key} {
      @each $attr, $value in $val {
        #{$attr}: #{$value};
      }

      .rc-switch-label-on {
        margin-right: map.get($knob-sizes, $key);
      }

      .rc-switch-label-off {
        margin-left: map.get($knob-sizes, $key);
      }
    }
  }
}

.rc-switch-knob {
  @include animate.set-animation(0.2s);
  @include position.position-abs("center left");
  border-radius: 50%;
  display: block;
  left: $start-left;
  transition: background-color 0.1s ease;
  z-index: -1;

  &:not(.rc-switch-on):not(.rc-switch-on-load) {
    @extend %shadow-small;
  }

  @each $key, $val in $knob-sizes {
    &.rc-switch-knob-#{$key} {
      $settings: (
        from: (
          left: $start-left,
        ),
        to: (
          left: calc(100% - $val - 4px),
        ),
      );
      height: $val;
      width: $val;

      &.rc-switch-on-load {
        background-color: colors.$primary;
        left: calc(100% - $val - 4px);
      }

      &.rc-switch-disabled {
        background-color: colors.$white;
      }

      &.rc-switch-on {
        @extend %shadow-medium;
        @include animate.set-keyframes(slide-right-#{$key}, $settings);
        animation-name: slide-right-#{$key};
        background-color: colors.$primary;
        box-shadow: none;
        left: calc(100% - $val - 4px);
      }

      &.rc-switch-off {
        @include animate.set-keyframes(slide-left-#{$key}, $settings, true);
        animation-name: slide-left-#{$key};
        background-color: colors.$white;
        background-color: colors.$white;
        right: calc(100% - $val - 4px);
      }
    }
  }
}

.rc-switch-label {
  @extend %text-no-wrap;

  &.rc-switch-label-on {
    color: colors.$primary;
  }

  @each $key, $val in $sizes {
    &.rc-switch-label-#{$key} {
      @extend %font-#{$key};
    }
  }

  &:not(.rc-switch-label-outside) {
    @extend %center;
  }

  &.rc-switch-label-outside {
    @extend %left;
    margin-left: 0.5rem;
  }
}
