.rc-demo-home-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  width: 100%;
}

.rc-demo-app-title {
  color: #003b73;
  font-size: 3rem;
  font-weight: 500;
}

.rc-demo-app-features {
  align-items: flex-start;
  background: rgba($color: #fff, $alpha: 0.5);
  border-radius: 1px;
  box-shadow: 0 0 30px 15px rgba($color: #000, $alpha: 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  margin-top: 16px;
  padding: 2rem;
}

.rc-demo-home-header {
  display: flex;
}

.rc-demo-app-icon {
  background-image: url("icecream.png");
  background-size: cover;
  display: block;
  height: 45px;
  margin-right: 0.5rem;
  width: 45px;
}

.rc-demo-app-feature {
  align-items: center;
  display: flex;
  justify-content: flex-start;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.rc-demo-app-feature-icon {
  align-items: center;
  // background-color: rgba(0, 0, 0, 0.2);
  background-color: rgba($color: #003b73, $alpha: 0.75);
  border-radius: 10%;
  border-radius: 50%;
  color: #fff;
  display: flex;
  height: 2.5rem;
  justify-content: center;
  width: 2.5rem;

  svg {
    height: 70%;
    width: 70%;
  }
}

.rc-demo-app-feature-name {
  font-size: 1.2rem;
  margin-left: 1rem;
}

.rc-demo-app-hero-image {
  height: 100%;
  width: 100%;
}

.rc-demo-app-hero {
  align-items: center;
  background-image: url("adrian.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 650px;
  justify-content: center;
  margin-bottom: 1rem;
  width: 100%;

  img {
    object-fit: cover;
  }
}

.rc-demo-app-hero-header {
  align-items: center;
  // background:rgba($color: #003B73, $alpha: 0.2);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  padding: 1rem;
}
