$heights: (
  sm: 40px,
  md: 60px,
  lg: 80px,
);

.rc-demo-home-btn {
  align-items: center;
  background: rgba($color: #434343, $alpha: 0.1);
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0.5rem 0.75rem;
  text-decoration: none;

  @each $key, $val in $heights {
    &.rc-demo-home-btn-height-#{$key} {
      height: $val;
    }
  }

  &:hover {
    background: rgba(#003b73, 0.75);
    box-shadow: none;
    color: #fff;
  }
}

.rc-home-button-icon {
  display: block;
  height: 1.5rem;
  width: 1.5rem;

  svg {
    height: 100% !important;
    width: 100% !important;
  }
}

.rc-home-button-label {
  font-size: 1rem;
  font-weight: 300;
  margin-left: 0.25rem;
}
