.wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: 1rem;

  @media (min-width: 43rem) {
    margin-left: 0;
  }
}

.icon {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 1.5rem;
  justify-content: center;
  margin-right: 1rem;
  width: 1.5rem;
  transition: all var(--transition-fast);

  svg {
    height: 100%;
    transition: transform var(--transition-fast);
  }

  &:hover svg {
    transform: scale(1.1);
  }

  &.dark {
    color: #fafafa;
  }

  &:not(.dark) {
    color: #18181b;
  }
}
