@use '../../../lib/design/theme.scss';
@use '../../../lib/design/layout.scss';

.rc-demo-drag-outer-box {
  background: theme.$light-bg;
}

.rc-demo-drag-inner-box {
  @extend %border-radius;
  background: theme.$secondary;
  border: 1px solid rgba(theme.$primary-rgb, 0.25);
}
