@use '@design/theme.scss';

.logo {
  background-image: url('../../images/cafe.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 20px;
  margin-right: 0.5rem;
  width: 20px;
}

.container {
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  padding: 0.5rem;
}

.app_logo {
  align-items: center;
  display: flex;
  justify-content: center;
  justify-self: flex-start;
}

.menu_icon {
  align-items: center;
  display: flex;
  height: 1.5rem;
  justify-content: center;
  margin-right: 1rem;
  width: 1.5rem;

  &.dark {
    color: theme.$primary;
  }

  &:not(.dark) {
    color: #000;
  }

  svg {
    height: 100%;
    width: 100%;
  }
}

.logo_text {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;

  &:not(.dark) {
    color: #fff;
  }

  &.dark {
    color: #fff;
  }
}
