@use "../../design/layout.scss";
@use "../../design/colors.scss";
@use "../../design/list.scss";

.rc-page-header {
  @extend %list-left;
  margin-bottom: 1rem;
  width: 100%;

  h2 {
    border-bottom: 1px solid colors.$gray;
    font-weight: 400;
    height: 35px;
    width: 100%;
  }
}
