.rc-demo-code-block {
  align-items: center;
  border-radius: 4px;
  display: flex;
  justify-content: flex-start;
  margin: 0.5rem 0;
  min-height: 50px;
  overflow-y: auto;
  position: relative;
  width: 100%;
  font-size: 0.9rem;

  pre {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .rc-accordion-icon {
    color: #0074b7;
  }

  .rc-accordion-title {
    color: #0074b7;
  }
}

@media (min-width: 1600px) {
  .rc-demo-code-block {
    width: 850px;
  }
}

.rc-demo-code-copy-btn {
  align-items: center;
  background-color: var(--rc-tertiary-color-hex);
  border-radius: 4px;
  color: var(--rc-primary-color-hex);
  cursor: pointer;
  display: flex;
  height: 2rem;
  justify-content: center;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 2rem;

  &:hover {
    background-color: var(--rc-primary-color-hex);
    color: #fff;
    // background-color: rgba($color: #000, $alpha: 0.85);
  }

  svg {
    height: 50%;
    width: 50%;
  }
}
