@use "../../design/layout.scss";
@use "../../design/position.scss";
@use "../../design/colors.scss";

.img-comparer-wrapper {
  border: 1px solid #ccc;
  height: 100%;
  position: relative;
  width: 100%;
}

.img-comparer-drag-handle {
  @include position.position-abs("center center");
  background: rgba(colors.$secondary, 1);
  cursor: ew-resize;
  height: 100%;
  width: 4px;
  z-index: 2;

  &::after {
    @include position.position-abs("center center");
    background: colors.$secondary;
    border-radius: 50%;
    content: "";
    display: block;
    height: 1.5rem;
    width: 1.5rem;
  }
}

.img-comparer-drag-handle-horizontal {
  cursor: ns-resize;
  height: 4px;
  width: 100%;
}

.img-comparer-panel {
  @include position.position-abs("left center");
  height: 100%;
  overflow: hidden;
  width: 100%;

  img {
    max-height: 100%;
    object-fit: contain;
  }
}

.img-comparer-panel-1 {
  z-index: 1;
}

.img-comparer-panel-2 {
  filter: grayscale(100%);
  z-index: 0;
}
