@use "../../design/layout.scss";
@use "../../design/position.scss";
@use "../../design/colors.scss";
@use "../../design/icon.scss";

.rc-img-comparer-wrapper {
  background: colors.$light-bg;
  height: 100%;
  position: relative;
  width: 100%;

  &.rc-comparer-wrapper-visible {
    visibility: visible;
  }

  &.rc-comparer-wrapper-hidden {
    visibility: hidden;
  }
}

.rc-img-comparer-drag-handle {
  background: rgba(colors.$primary, 0.95);
  z-index: 2;

  &.rc-comparer-drag-handle-dragged {
    background: rgba(colors.$primary, 1);
  }

  .rc-drag-handle-square {
    @extend %shadow-small;
    @extend %border-radius;
    @extend %center;
    @include position.position-abs("center center");
    background: colors.$secondary;
    content: "";
    display: block;
    pointer-events: none;
  }

  &.rc-comparer-drag-handle-visible {
    visibility: visible;
  }

  &.rc-comparer-drag-handle-hidden {
    visibility: hidden;
  }
}

.rc-comparer-drag-handle-horizontal {
  @include position.position-abs("center center");
  cursor: ew-resize;
  height: 100%;
  width: 6px;

  .rc-drag-handle-square {
    height: 24px;
    width: 6px;
  }
}

.rc-comparer-drag-handle-vertical {
  @include position.position-abs("center center");
  cursor: ns-resize;
  height: 6px;
  width: 100%;

  .rc-drag-handle-square {
    height: 6px;
    width: 24px;
  }
}

.img-comparer-drag-handle-horizontal {
  cursor: ns-resize;
  height: 6px;
  width: 100%;
}

.img-comparer-panel {
  @include position.position-abs("left center");
  height: 100%;
  overflow: hidden;
  width: 100%;

  img {
    max-height: var(--height);
    max-width: var(--width);
  }
}

.img-comparer-panel-1 {
  z-index: 1;
}

.img-comparer-panel-2 {
  z-index: 0;

  img {
    filter: blur(2px) grayscale(100%);
  }
}

.rc-circular-loader-wrapper {
  @include position.position-abs("center center");
  height: 30px;
  width: 30px;
}
