.rc-demo-app-github-link {
  align-items: center;
  display: flex;
  justify-content: center;
  justify-self: flex-end;

  &.dark a {
    color: #fff;
  }

  &:not(.dark) a {
    color: #000;
  }

  svg {
    height: 100%;
    width: 100%;
  }
}

.rc-demo-app-github-link a {
  align-items: center;
  display: flex;
  height: 2rem;
  justify-content: center;
  margin-left: auto;
  text-decoration: none;
  width: 2rem;
}
