.rc-demo-app-github-link {
  align-items: center;
  display: flex;
  justify-content: center;
  
  svg {
    height: 100%;
    width: 100%;
  }
}

.rc-demo-app-github-link a {
  align-items: center;
  color: #000;
  display: flex;
  height: 2rem;
  justify-content: center;
  text-decoration: none;
  width: 2rem;
}