@use "../../design/layout.scss";
@use "../../design/list.scss";
@use "../../design/colors.scss";
@use "../../design/icon.scss";

.rc-carousel-track {
  &.rc-carousel-track-horizontal {
    @extend %center;
    @extend %list-horizontal;
  }

  &.rc-carousel-track-vertical {
    @extend %list;
    width: 3rem;
  }
}

.rc-carousel-track-item {
  @extend %shadow-inset;
  border: 1px solid colors.$secondary;
  border-radius: 50%;
  height: 10px;
  margin: 4px;
  width: 10px;
}

.rc-carousel-track-item:hover {
  cursor: pointer;
}

.rc-carousel-track-item-selected {
  background: colors.$primary;
  border: 1px solid colors.$primary;
}

.rc-carousel-icon {
  @extend %icon-sm;
}

.rc-carousel-track-wrapper-horizontal {
  @extend %center;
}

.rc-carousel-track-wrapper-vertical {
  @extend %list;
}
