@use "../../design/button.scss";
@use "../../design/icon.scss";
@use "../../design/colors.scss";
@use "../../design/list.scss";
@use "../../design/layout.scss";
@use "../../design/position.scss";

.rc-carousel-container {
  // @extend %shadow-medium;
  @extend %border;
  @extend %shadow-inset;
  height: 100%;
  width: 100%;

  &.rc-carousel-container-horizontal {
    @extend %col;
  }

  &.rc-carousel-container-vertical {
    @extend %center;
  }
}

.rc-carousel-wrapper {
  overflow: hidden;
  position: relative;

  &.rc-carousel-wrapper-horizontal {
    height: calc(100% - 4rem);
    margin-top: 1rem;
    width: 95%;
  }

  &.rc-carousel-wrapper-vertical {
    height: calc(100% - 3rem);
    margin-left: 1rem;
    width: calc(100% - 3rem);
  }
}

.rc-carousel-track-wrapper {
  @extend %center;

  &.rc-carousel-track-wrapper-horizontal {
    height: 3rem;
    width: 100%;
  }

  &.rc-carousel-track-wrapper-horizontal {
    width: 3rem;
  }
}

.rc-carousel {
  height: 100%;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.rc-carousel-item {
  @extend %center;
  @extend %border-radius;
  // background: colors.$light-bg;
  height: 100%;
  position: absolute;
  top: 50%;

  img {
    max-height: 100%;
    max-width: 100%;
  }
}

.rc-carousel-item-container {
  @extend %center;
  height: 95%;
  width: 95%;
}

.rc-carousel-btn {
  border-radius: 50%;

  &.rc-carousel-btn-hide {
    visibility: hidden;
  }
}

.rc-carousel-btn-left {
  transform: rotate(-180deg);
}

.rc-carousel-btn-left:not(.rc-carousel-btn-horizontal) {
  transform: rotate(-90deg);
}

.rc-carousel-btn-right:not(.rc-carousel-btn-horizontal) {
  transform: rotate(90deg);
}
