@use "../../design/layout.scss";
@use "../../design/list.scss";
@use "../../design/colors.scss";
@use "../../design/icon.scss";

.rc-carousel-track {
  &.rc-carousel-track-horizontal {
    @extend %center;
    @extend %list-horizontal;
  }

  &.rc-carousel-track-vertical {
    @extend %list;
    width: 3rem;
  }
}

.rc-carousel-track-item {
  border: 1px solid colors.$primary;
  border-radius: 50%;
  height: 8px;
  margin: 4px;
  width: 8px;
}

.rc-carousel-track-item:hover {
  cursor: pointer;
}

.rc-carousel-track-item-selected {
  background: colors.$primary;
}

.rc-carousel-icon {
  @extend %icon-sm;
}
