@use "../../design/layout.scss";
@use "../../design/icon.scss";
@use "../../design/font.scss";
@use "../../design/animate.scss";
@use "../../design/colors.scss";

$sizes: (sm, md, lg);

.rc-checkbox-wrapper {
  @extend %left;
  width: 100%;
}

.rc-checkbox {
  @extend %left;
  @include animate.halo();
  cursor: pointer;
  user-select: none;

  * {
    cursor: pointer;
  }

  &.rc-checkbox-disabled {
    @extend %disabled;
  }
}

.rc-checkbox-icon {
  @extend %border;
  background: colors.$white;

  svg {
    display: none;
  }

  &.rc-checkbox-checked {
    @extend %shadow-inset;
  }

  &.rc-checkbox-checked svg {
    display: block;
  }
}

.rc-checkbox-label {
  @extend %text-no-wrap;
  display: block;
  padding-left: 0.75rem;
  text-align: left;

  @each $key in $sizes {
    &.rc-checkbox-label-#{$key} {
      @extend %font-#{$key};
    }
  }
}

@each $key in $sizes {
  .rc-checkbox-#{$key} {
    &.rc-checkbox-icon {
      @extend %icon-#{$key};
    }
  }
}
