@use "../../design/layout.scss";
@use "../../design/icon.scss";

.rc-checkbox-wrapper {
  @extend %left;
  padding: 0.5rem;
  user-select: none;
  width: 100%;

  &:hover {
    cursor: pointer;
  }

  &.rc-checkbox-disabled {
    @extend %disabled;
  }
}

.rc-checkbox-icon {
  @extend %border;
  @extend %icon-sm;

  svg {
    display: none;
  }

  &.rc-checkbox-checked svg {
    display: block;
  }
}

.rc-checkbox-label {
  @extend %left;
  padding-left: 0.5rem;
}
