@use "../../design/layout.scss";
@use "../../design/icon.scss";

.rc-checkbox-wrapper {
  @extend %left;
  cursor: pointer;
  display: grid;
  grid-template-columns: 20px calc(100% - 20px);
  height: 100%;
  padding: 0.2rem;
  user-select: none;
  width: 100%;

  &.rc-checkbox-disabled {
    @extend %disabled;
  }
}

.rc-checkbox-icon {
  @extend %border;
  @extend %icon-sm;

  svg {
    display: none;
  }

  &.rc-checkbox-checked svg {
    display: block;
  }
}

.rc-checkbox-label {
  @extend %text-no-wrap;
  cursor: pointer;
  display: block;
  padding-left: 0.5rem;
  text-align: left;
}
