@use "../../design/layout.scss";
@use "../../design/colors.scss";
@use "../../design/list.scss";

.rc-section {
  @extend %col;
  margin: 1rem 0;
  width: 100%;
}

.rc-section-header {
  border-bottom: 1px solid colors.$secondary;
  color: colors.$black;
  font-size: 1rem;
  font-weight: 500;
  height: 30px;
  padding-left: 1rem;
  width: 100%;
}

.rc-section-body {
  @extend %left;
  padding: 1rem;
  width: 100%;

  &:not(.rc-section-no-title) {
    min-height: calc(100% - 30px);
  }

  &.rc-section-no-title {
    min-height: 100%;
  }
}
