@use "../../design/layout.scss";
@use "../../design/colors.scss";
@use "../../design/list.scss";

.rc-section {
  @extend %col;
  height: 100%;
  margin: 1rem 0;
  width: 100%;
}

.rc-section-header {
  border-bottom: 1px solid colors.$secondary;
  color: colors.$primary;
  font-size: 1.1rem;
  font-weight: 400;
  height: 30px;
  padding-left: 1rem;
  width: 100%;
}

.rc-section-body {
  @extend %left;
  min-height: calc(100% - 30px);
  padding: 1rem;
  width: 100%;
}
