@use "../../design/layout.scss";
@use "../../design/colors.scss";
@use "../../design/position.scss";

.rc-sidebar {
  @extend %col;
  width: 100%;

  &.rc-sidebar-border {
    @extend %border;
  }
}

.rc-sidebar-search-wrapper {
  @extend %center;
  margin: 1rem 0;
  width: 90%;
}
