.rc-demo-code-icon {
  display: block;
  height: 1rem;
  width: 1rem;

  svg {
    height: 100%;
    width: 100%;
  }
}

.rc-demo-code-block {
  align-items: center;
  background: rgb(43, 43, 43);
  border-radius: 4px;
  display: flex;
  justify-content: flex-start;
  margin: 0.5rem 0;
  min-height: 70px;
  width: 100%;

  pre {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
