.rc-demo-logo {
  background-image: url("../../../images/icecream.png");
  background-size: cover;
  display: block;
  height: 25px;
  margin-right: 0.5rem;
  width: 25px;
}

.rc-demo-app-logo {
  border-radius: 4px;
  cursor: pointer;
  padding: 0.5rem;

  &:hover {
    background-color: rgba($color: #003b73, $alpha: 0.1);
  }
}
