.rc-demo-code-block {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  position: relative;
  width: 100%;

  .rc-accordion-icon {
    color: #0074b7;
  }

  .rc-accordion-title {
    color: #0074b7;
  }
}

.rc-demo-code-copy-btn {
  color: #fff;
  cursor: pointer;
  height: 1.5rem;
  position: absolute;
  right: 1rem;
  top: 2rem;
  width: 1.5rem;

  svg {
    height: 100%;
    width: 100%;
  }
}
