@use "../../design/layout.scss";
@use "../../design/colors.scss";
@use "../../design/position.scss";

.rc-block-quote {
  @extend %left;
  background: rgba(colors.$secondary, 0.25);
  border-left: 3px solid rgba(colors.$primary, 0.5);
  font-weight: 300;
  margin: 0.5rem 0;
  padding: 1rem 0;
  padding-left: 1rem;
  width: calc(100% - 1rem);

  code {
    color: colors.$white;
    font-style: normal;
    margin: 0 0.5rem;
    position: relative;
    text-decoration: none;
    z-index: 0;
  }

  code::after {
    @extend %border-radius;
    @extend %center;
    @include position.position-abs("center center");
    background: rgba(colors.$primary, 0.75);
    content: "";
    display: block;
    font-style: normal;
    height: calc(100% + 2px);
    width: calc(100% + 8px);
    z-index: -1;
  }
}
