@use "../../design/layout.scss";
@use "../../design/colors.scss";

.rc-block-quote {
  @extend %left;
  background: rgba(colors.$secondary, 0.25);
  border-left: 3px solid rgba(colors.$primary, 0.5);
  font-weight: 400;
  margin: 0.5rem 0;
  padding: 1rem 0;
  padding-left: 1rem;
  width: 100%;

  code {
    @extend %border-radius;
    @extend %center;
    background: rgba(colors.$primary, 0.2);
    color: colors.$black;
    font-size: 0.9rem;
    font-style: normal;
    margin: 0 0.25rem;
    padding: 0.1rem 0.5rem;
  }
}
