.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  margin-top: 1rem;
  padding: 0;

  li {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 1rem;
  }

  .name {
    color: var(--rc-primary-color-hex);
    font-size: 1rem;
    font-weight: 500;
    margin-top: 0.5rem;
  }
}

.icon {
  align-items: center;
  color: var(--rc-primary-color-hex);
  display: flex;
  justify-content: center;

  &.dark {
    background: #000;
  }

  &:not(.dark) {
    background: #fff;
  }
}
