@use "../../design/animate.scss";
@use "../../design/button.scss";
@use "../../design/colors.scss";
@use "../../design/layout.scss";
@use "../../design/position.scss";

.rc-overlay-wrapper {
  @extend %center;

  height: 100vh;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 999999;

  &:not(.disable-backdrop) {
    background-color: rgba(colors.$black, $alpha: 0.45);
  }
}

.rc-overlay-content-wrapper {
  @extend %center;
  height: 100%;
  opacity: 0;

  &:not(.disable-anim) {
    @include animate.set-animation(0.5s, cubic-bezier(0.17, 0.84, 0.44, 1));
  }

  &.rc-overlay-content-close {
    animation-name: overlay-close;
    opacity: 0;
  }

  &.rc-overlay-content-open {
    animation-name: overlay-open;
    opacity: 1;
  }
}

.rc-overlay-close-btn {
  @extend %button-lg-no-border;
}

$open-anime-settings: (
  from: (
    opacity: 0,
  ),
  to: (
    opacity: 1,
  ),
);

$close-anime-settings: (
  from: (
    opacity: 1,
  ),
  to: (
    opacity: 0,
  ),
);

@include animate.set-keyframes(overlay-open, $open-anime-settings);
@include animate.set-keyframes(overlay-close, $close-anime-settings);
