@use "../../design/animate.scss";
@use "../../design/button.scss";
@use "../../design/colors.scss";
@use "../../design/layout.scss";
@use "../../design/position.scss";

.rc-overlay-wrapper {
  @extend %center;

  left: 0;
  outline: 0;
  overflow: hidden;
  top: 0;
  z-index: 999;

  &.rc-overlay-contained {
    height: 100%;
    position: absolute;
    width: 100%;
  }

  &:not(.rc-overlay-contained) {
    height: 100%;
    position: fixed;
    width: 100vw;
  }
}

.rc-overlay-close-btn {
  @extend %button-lg-no-border;
}

$open-anime-settings: (
  from: (
    opacity: 0,
  ),
  to: (
    opacity: 1,
  ),
);

$close-anime-settings: (
  from: (
    opacity: 1,
  ),
  to: (
    opacity: 0,
  ),
);

@include animate.set-keyframes(overlay-open, $open-anime-settings);
@include animate.set-keyframes(overlay-close, $close-anime-settings);
