@use "../../design/layout.scss";
@use "../../design/list.scss";
@use "../../design/colors.scss";
@use "../../design/icon.scss";

.transfer-list {
  @extend %list;
  @extend %border;
  padding: 0.5rem;
  width: calc(100% - 0.5rem);

  li:not(:last-child):not(:first-child) {
    border-bottom: 1px solid colors.$secondary;
  }
}

.transfer-list-item {
  @extend %list-item-left;
  cursor: pointer;
  height: 40px;
  user-select: none;
  width: 100%;

  &.selected {
    color: colors.$tertiary;
  }

  &:hover:not(.header) {
    background-color: colors.$light-bg;
  }

  &.header {
    height: 30px;
    margin-bottom: 2rem;
  }
}
