@use "../../design/layout.scss";
@use "../../design/list.scss";
@use "../../design/colors.scss";
@use "../../design/icon.scss";
@use "../../design/position.scss";

.transfer-list {
  @extend %list;
  @extend %border;
  padding: 1rem;
  width: calc(100% - 0.5rem);

  li {
    position: relative;
  }

  li:not(:last-child):not(:first-child)::after {
    @include position.position-abs("bottom center");
    background: colors.$mercury;
    bottom: -2px;
    content: "";
    display: block;
    height: 1px;
    width: 100%;
  }
}

.transfer-list-item {
  @extend %left;
  cursor: pointer;
  height: 40px;
  padding-left: 0.5rem;
  user-select: none;
  width: 100%;

  &.selected {
    color: colors.$tertiary;
  }

  &:hover:not(.header) {
    background-color: colors.$light-bg;
  }

  &.header {
    column-gap: 5px;
    display: grid;
    grid-template-columns: 30px calc(100% - 35px);
    height: 30px;
    margin-bottom: 1rem;
  }
}
