@use "../../design/layout.scss";
@use "../../design/colors.scss";
@use "../../design/animate.scss";

.rc-tooltip-wrapper {
  @extend %center;
  position: relative;
}

.rc-tooltip-message {
  $animation: (
    from: (
      opacity: 0,
      visibility: hidden,
    ),
    to: (
      opacity: 1,
      visibility: visible,
    ),
  );
  $arrow-dim: 12px;

  @extend %center;
  @extend %border-radius;
  @extend %shadow-medium;
  @include animate.set-animation(0.25s);

  @include animate.set-keyframes(animate-tooltip-show, $animation);
  @include animate.set-keyframes(animate-tooltip-close, $animation, true);

  min-width: var(--width);
  padding: 0.75rem 0.5rem;
  position: absolute;
  visibility: hidden;
  z-index: 999;

  &.show-tooltip {
    animation-name: animate-tooltip-show;
    opacity: 1;
    visibility: visible;
  }

  &.hide-tooltip {
    animation-name: animate-tooltip-close;
    opacity: 0;
    visibility: hidden;
  }

  &.rc-tooltip-left:not(.rc-tooltip-center)::after {
    left: 1rem;
  }

  &.rc-tooltip-right:not(.rc-tooltip-center)::after {
    right: 1rem;
  }

  &.rc-tooltip-left.rc-tooltip-center::after {
    right: -5px;
  }

  &.rc-tooltip-right.rc-tooltip-center::after {
    left: -5px;
  }

  &::after {
    background: colors.$white;
    border-radius: 1px;
    content: "";
    display: block;
    height: $arrow-dim;
    position: absolute;
    transform: rotate(45deg);
    width: $arrow-dim;
  }

  &.rc-tooltip-top::after {
    bottom: calc($arrow-dim * -1 / 2);
  }

  &.rc-tooltip-bottom::after {
    top: calc($arrow-dim * -1 / 2);
  }
}

.rc-tooltip-host-content {
  @extend %center;
}
