@use "sass:map";
@use "position.scss";
@use "colors.scss";

@mixin set-keyframes($name, $attrs, $reverse: false) {
  $from: from;
  $to: to;

  @if $reverse {
    $from: to;
    $to: from;
  }

  @keyframes #{$name} {
    #{$from} {
      @each $name, $value in map.get($attrs, "from") {
        #{$name}: #{$value};
      }
    }

    #{$to} {
      @each $name, $value in map.get($attrs, "to") {
        #{$name}: #{$value};
      }
    }
  }
}

%animation-default {
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}

@mixin set-animation($dur: 0.5s, $timing-func: ease-in, $infinite: false) {
  animation-duration: $dur;
  animation-timing-function: $timing-func;

  @if $infinite {
    animation-iteration-count: infinite;
  }
}

@mixin halo($border-radius: 4px) {
  &.rc-halo,
  &.rc-un-halo {
    position: relative;
  }

  &.rc-halo::after {
    @include position.position-abs("center center");
    border-radius: $border-radius;
    box-shadow: 0 0 1px 15px rgba(colors.$primary, 0.1);
    content: "";
    display: block;
    height: 100%;
    outline: 2px solid rgba(colors.$primary, 0.8);
    outline-offset: 3px;
    transition: border 0.1s ease-in, box-shadow 0.1s ease-in;
    width: 100%;
    z-index: -1;
  }

  &.rc-un-halo::after {
    box-shadow: 0 0 1px 7px rgba(colors.$primary, 0.3);
  }
}
