@use "sass:map";
@use "position.scss";
@use "colors.scss";

@mixin set-keyframes($name, $attrs, $reverse: false) {
  $from: from;
  $to: to;

  @if $reverse {
    $from: to;
    $to: from;
  }

  @keyframes #{$name} {
    #{$from} {
      @each $name, $value in map.get($attrs, "from") {
        #{$name}: #{$value};
      }
    }

    #{$to} {
      @each $name, $value in map.get($attrs, "to") {
        #{$name}: #{$value};
      }
    }
  }
}

%animation-default {
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}

@mixin set-animation($dur: 0.5s, $timing-func: ease-in, $infinite: false) {
  animation-duration: $dur;
  animation-timing-function: $timing-func;

  @if $infinite {
    animation-iteration-count: infinite;
  }
}

%halo-common {
  @include position.position-abs("center center");
  content: "";
  display: block;
  height: 100%;
  width: 100%;
}

@mixin halo($border-radius: 4px, $outline-offset: 1px, $halo-effect: true) {
  // z-index: 1;
  $focus-settings: (
    from: (
      outline: 1px solid rgba(colors.$white, 0.1),
    ),
    to: (
      outline: 2px solid rgba(colors.$primary, 0.75),
    ),
  );
  $halo-settings: (
    from: (
      box-shadow: 0 0 1px 1px rgba(colors.$white, 0.1),
    ),
    to: (
      box-shadow: 0 0 1px 10px rgba(colors.$primary, 0.25),
    ),
  );

  &.rc-focus,
  &.rc-lost-focus,
  &.rc-halo {
    outline: 0;
    position: relative;
  }

  &::before,
  &::after {
    @include set-animation(0.1s, linear);
    border-radius: $border-radius;
    outline-offset: $outline-offset;
    z-index: 0;
  }

  &.rc-focus:not(.rc-disabled)::before {
    @extend %halo-common;
    @include set-keyframes(outline-focus, $focus-settings);
    animation-name: outline-focus;
    outline: 2px solid rgba(colors.$primary, 0.75);
  }

  &.rc-lost-focus:not(.rc-disabled)::before {
    @extend %halo-common;
    @include set-keyframes(outline-de-focus, $focus-settings, true);
    animation-name: outline-de-focus;
    outline: 1px solid rgba(colors.$white, 0.1);
  }

  @if $halo-effect {
    &.rc-halo:not(.rc-disabled)::after {
      @extend %halo-common;
      @include set-keyframes(halo-focus, $halo-settings);
      animation-name: halo-focus;
      box-shadow: 0 0 1px 10px rgba(colors.$primary, 0.25);
      z-index: -1;
    }

    &.rc-de-halo:not(.rc-disabled)::after {
      @extend %halo-common;
      @include set-keyframes(halo-de-focus, $halo-settings, true);
      animation-name: halo-de-focus;
      box-shadow: 0 0 1px 1px rgba(colors.$white, 0.1);
    }
  }
}
