@use "colors.scss";
@use "layout.scss";

%clear-border-n-shadow {
  border: 0;
  box-shadow: none;

  &:hover {
    background: none;
  }
}

%button-hover {
  &:hover {
    background: colors.$secondary;
    box-shadow: none;
    color: colors.$black;
  }
}

%button {
  @extend %border;
  @extend %center;
  background: none;
  color: colors.$tertiary;
  cursor: pointer;
  font-size: 1rem;
  padding: 0;
  transition: background-color 50ms ease-in;

  svg {
    color: colors.$primary;
  }
}

@mixin get-button-type($bg, $bg-hover, $color, $color-hover) {
  background-color: $bg;
  color: $color;

  svg {
    color: $color;
  }

  &:hover {
    background-color: $bg-hover;
    color: $color-hover;

    svg {
      color: $color-hover;
    }
  }
}

%button-primary {
  @include get-button-type(
    colors.$primary,
    colors.$white,
    colors.$white,
    colors.$primary
  );
}

%button-danger {
  @include get-button-type(
    colors.$crimson,
    colors.$white,
    colors.$white,
    colors.$primary
  );
}

@mixin get-button($size, $border) {
  @extend %button;

  @if $size == small {
    // padding: 0.2rem 0.75rem 0.2rem 0.5rem;

    svg {
      height: 70%;
      width: 70%;
    }
  } @else if $size == large {
    // min-width: 60px;
    // padding: 0.5rem;

    svg {
      height: 100%;
      width: 100%;
    }
  }

  @if $border {
    @extend %button-hover;
  } @else {
    @extend %clear-border-n-shadow;
  }
}

%button-sm {
  @include get-button(small, true);
}
%button-lg {
  @include get-button(large, true);
}

%button-sm-no-border {
  @include get-button(small, false);
}
%button-lg-no-border {
  @include get-button(large, false);
}
