$primary: #3f72af;
$secondary: #dbe2ef;
$tertiary: #112d4e;
$light-bg: #f9f7f7;

$white: #fff;
$black: #000;
$gray: #e5e5e5;
$light-gray: #f7f7f7;
$crimson: #e32636;
$snow-white: #f3f6fb;
$chinese-gray: #ccc;
$alto: #dbdbdb;
$mercury: #e5e5e5;
