$primary: #1e56a0;
$secondary: #d6e4f0;
$tertiary: #163172;
$light-bg: #f6f6f6;

$white: #fff;
$black: #000;
$gray: #e5e5e5;
$light-gray: #f7f7f7;
$crimson: #e32636;
$snow-white: #f3f6fb;
$chinese-gray: #ccc;
$alto: #dbdbdb;
$mercury: #e5e5e5;
$success-green: #4bb543;

$transparent: transparent;
$amber: #ffc107;
$blue: #2196f3;
$platinum: #E5E4E2;
