@use "layout.scss";
@use "colors.scss";

@mixin get-icon($size, $color) {
  @extend %center;

  @if $size == small {
    height: 0.75rem;
    width: 0.75rem;
  } @else if $size == medium {
    height: 1rem;
    width: 1rem;
  } @else if $size == large {
    height: 1.5rem;
    width: 1.5rem;
  } @else if $size == extra-small {
    height: 0.6rem;
    width: 0.6rem;
  }

  svg {
    color: colors.$primary;
    height: 100%;
    width: 100%;
  }
}

%icon-xs {
  @include get-icon(extra-small, colors.$primary);
}

%icon-sm {
  @include get-icon(small, colors.$primary);
}

%icon-md {
  @include get-icon(medium, colors.$primary);
}

%icon-lg {
  @include get-icon(large, colors.$primary);
}
