@use "../../design/layout.scss";
@use "../../design/colors.scss";
@use "../../design/list.scss";

.rc-scroll-spy-wrapper {
  @extend %center;
  align-items: flex-start;
  column-gap: 2%;
  display: grid;
  height: 100%;
  justify-items: center;
}

.rc-scroll-spy-wrapper-left {
  grid-template-columns: 150px auto;
}

.rc-scroll-spy-wrapper-right {
  grid-template-columns: auto 150px;

  .rc-scroll-spy-aside {
    order: 2;
  }

  .rc-scroll-spy-content {
    order: 1;
  }
}

.rc-scroll-spy-aside {
  @extend %center;
  width: 100%;
}

.rc-scroll-spy-list {
  @extend %list-left;
  width: 100%;
}

.rc-scroll-spy-list-item {
  @extend %border-radius;
  @extend %left;
  color: colors.$black;
  cursor: pointer;
  font-weight: 300;
  height: 35px;
  padding-left: 0.5rem;
  width: calc(100% - 0.5rem);

  &.active {
    background: rgba(colors.$secondary, 50%);
    color: colors.$primary;
    font-weight: 400;
  }
}

.rc-scroll-spy-content {
  @extend %col;
  height: 100%;
  overflow: auto;
  scroll-behavior: smooth;
}

.rc-scroll-spy-content-item {
  padding: 0.5rem 0;
}

.rc-header {
  margin: 0;
}
