.app {
  --aside-width: 300px;
  background: #fff;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
}

pre {
  border-radius: 4px;
  padding: 1rem 0 !important;
  padding-left: 1rem !important;
}

body,
html,
button,
div,
section,
ul,
code,
span {
  font-family: "Outfit", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.app-aside {
  align-items: center;
  background: #fcfcfc;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: var(--aside-width);
}

.app-aside-visible {
  visibility: visible;
}

.app-main-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 140vh;
  width: calc(100% - var(--aside-width));
}

.section-content {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  margin-right: auto;
  min-height: 120vh;
  width: 100%;
}

@media (min-width: 768px) {
  .app {
    --aside-width: 200px;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .app {
    --aside-width: 250px;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .app {
    --aside-width: 300px;
    width: 100%;
  }
}

@media (min-width: 1600px) {
  .app {
    --aside-width: 350px;
    width: 100%;
  }
}

@media (min-width: 1920px) {
  .app {
    width: 100%;
  }
}

@media (min-width: 2560px) {
  .app {
    width: 1800px;
  }
}

@media (min-width: 3840px) {
  .app {
    width: 2560px;
  }
}

.aside a {
  margin: 0.5rem 0;
}

.rc-demo-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 98%;
}

.rc-demo-prop-section {
  display: flex;
  margin: 2rem 0;
  width: 95%;
}

.rc-demo-widget {
  align-items: center;
  display: flex;
  margin: 1rem 0;
  place-content: flex-start;
  width: 100%;
}

.rc-demo-widgets-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 2rem;
  width: 100%;
}

.rc-demo-widgets {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 95%;
}

.app-header {
  align-items: center;
  display: flex;
  height: 45px;
  margin-bottom: 1rem;
  width: 98%;
}

.rc-demo-app-logo {
  align-items: center;
  color: #3f72af;
  display: flex;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
}

.rc-demo-app-logo a {
  display: block;
  font-weight: 600;
  height: 2rem;
  text-decoration: none;
  width: 2rem;
}

.rc-demo-logo-icon-wrapper {
  display: flex;
  height: 2rem;
  width: 2rem;
}

.rc-demo-logo-icon-wrapper svg {
  height: 100%;
  width: 100%;
}

.rc-demo-app-logo svg {
  max-height: 100%;
  max-width: 100%;
}

.rc-demo-app-github-link {
  align-items: center;
  display: flex;
}

.rc-demo-app-github-link a {
  height: 2.5rem;
  width: 2.5rem;
}

.rc-demo-app-github-link img {
  max-height: 100%;
  max-width: 100%;
}

.rc-demo-alpha-badge {
  align-items: center;
  background: rgba(#1e56a0, 1);
  border-radius: 20px;
  color: #fff;
  display: flex;
  font-size: 14px;
  justify-content: center;
  margin-left: auto;
  margin-right: 1rem;
  padding: 0.25rem 0.5rem;
}
