.app {
  display: flex;
  font-family: 'Outfit', sans-serif;
  justify-content: center;
  margin: 0 auto;
  min-height: 100%;
}

body, html, button {
  font-family: 'Outfit', sans-serif;
}

.app-aside {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0.5rem;
  width: 30%;
}

@media (min-width: 768px) {
  .app {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .app {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .app {
    width: 1024px;
  }
}

@media (min-width: 1600px) {
  .app {
    width: 90%;
  }
}

@media (min-width: 1920px) {
  .app {
    width: 1600px;
  }

  .app-aside {
    width: 20%;
  }

  .app-main-section {
    width: 80%;
  }
}

@media (min-width: 2560px) {
  .app {
    width: 1920px;
  }
  
  .app-aside {
    width: 20%;
  }
  
  .app-main-section {
    width: 80%;
  }
}

@media (min-width: 3840px) {
  .app {
    width: 2560px;
  }

  .app-aside {
    width: 20%;
  }

  .app-main-section {
    width: 80%;
  }
}

.aside a {
  margin: 0.5rem 0;
}

.app-main-section {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  width: 70%;
}

.section-content {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.rc-demo-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 2400px;
  width: 95%;
}

.rc-demo-prop-section {
  display: flex;
  margin: 2rem 0;
  width: 95%;
}

.rc-demo-widget {
  align-items: center;
  display: flex;
  margin: 1rem 0;
  place-content: center;
  width: 100%;
}

.rc-demo-widgets {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 1200px;
  width: 100%;
}