.app {
  background: #fff;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

body, html, button, div, section, ul, span {
  font-family: 'Outfit', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.app-aside {
  align-items: center;
  background: #fcfcfc;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  width: 20%;
}

.app-main-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
}

.section-content {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (min-width: 768px) {
  .app {
    width: 100%;
  }

  .app-aside {
    width: 30%;
  }

  .app-main-section {
    width: 70%;
  }
}

@media (min-width: 992px) {
  .app {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .app {
    width: 100%;
  }
}

@media (min-width: 1600px) {
  .app {
    width: 100%;
  }
}

@media (min-width: 1920px) {
  .app {
    width: 1600px;
  }

  .app-aside {
    width: 20%;
  }

  .app-main-section {
    width: 80%;
  }
}

@media (min-width: 2560px) {
  .app {
    width: 1640px;
  }

  .app-aside {
    width: 20%;
  }
  
  .app-main-section {
    width: 80%;
  }
}

@media (min-width: 3840px) {
  .app {
    width: 2560px;
  }
}

.aside a {
  margin: 0.5rem 0;
}


.rc-demo-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 2400px;
  width: 95%;
}

.rc-demo-prop-section {
  display: flex;
  margin: 2rem 0;
  width: 100%;
}

.rc-demo-widget {
  align-items: center;
  display: flex;
  margin: 2rem 0;
  place-content: flex-start;
  width: 100%;
}

.rc-demo-widgets-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 2rem;
  width: 100%;
}

.rc-demo-widgets {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 95%;
}

.app-header {
  align-items: center;
  display: flex;
  height: 45px;
  margin-bottom: 1rem;
  width: 95%;
}

.rc-demo-app-logo {
  align-items: center;
  color: #3f72af;
  display: flex;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
}

.rc-demo-app-logo a {
  display: block;
  font-weight: 600;
  height: 2rem;
  text-decoration: none;
  width: 2rem;
}

.rc-demo-logo-icon-wrapper {
  display: flex;
  height: 2rem;
  width: 2rem;
}

.rc-demo-logo-icon-wrapper svg {
  height: 100%;
  width: 100%;
}


.rc-demo-app-logo svg {
  max-height: 100%;
  max-width: 100%;
}

.rc-demo-app-github-link {
  align-items: center;
  display: flex;
  margin-left: auto;
}

.rc-demo-app-github-link a {
  height: 2.5rem;
  width: 2.5rem;
}

.rc-demo-app-github-link img {
  max-height: 100%;
  max-width: 100%;
}