.App {
  display: grid;
  grid-template-columns: 30% 70%;
  justify-items: flex-start;
  width: 100%;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.aside {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  /* justify-content: space-between; */
  height: 100%;
  width: 100%;
}

.aside a {
  margin: 0.5rem 0;
}

.section {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.section-content {
  min-width: 450px;
}