.app {
  --aside-width: 300px;
  background: #fff;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  position: relative;

  &.dark {
    background-color: #000;
  }
}

body {
  background: #fff;
  margin: 0;
  padding: 0;
}

pre {
  border-radius: 4px;
  padding-left: 1rem !important;
}

body,
html,
button,
div,
section,
ul,
input,
label,
button,
code,
kbd,
span {
  font-family: 'Outfit', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

code {
  span {
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    font-weight: 500;
  }
}

.app-aside {
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: var(--aside-width);
  margin-top: 60px;
}

.app-aside-visible {
  visibility: visible;
}

.app-main-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 140vh;
  margin-top: 56px;

  &:not(.is-landing) {
    width: calc(100% - var(--aside-width));
  }

  &.is-landing {
    width: 100%;
  }
}

.section-content {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  margin-right: auto;
  min-height: 120vh;
  width: 100%;
}

@media (max-width: 480px) {
  .app-main-section {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .app:not(.is-landing) {
    --aside-width: 200px;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .app:not(.is-landing) {
    --aside-width: 280px;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .app:not(.is-landing) {
    --aside-width: 300px;
    width: 100%;
  }

  .section-content:not(.home):not(.is-landing) {
    width: calc(100% - 300px);
  }
}

@media (min-width: 1600px) {
  .app:not(.is-landing) {
    --aside-width: 350px;
    width: 100%;
  }
}

@media (min-width: 1920px) {
  .app:not(.is-landing) {
    width: 100%;
  }
}

@media (min-width: 2560px) {
  .app:not(.is-landing) {
    width: 1800px;
  }

  .section-content:not(.home) {
    width: 100%;
  }
}

@media (min-width: 3840px) {
  .app:not(.is-landing) {
    width: 2560px;
  }
}

.aside a {
  margin: 0.5rem 0;
}

.rc-demo-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  width: 95%;
}

.rc-demo-prop-section {
  display: flex;
  margin: 1rem 0;
  width: 95%;
}

.rc-demo-widget {
  align-items: center;
  display: flex;
  padding: 0.5rem;
  place-content: flex-start;
  width: calc(100% - 1rem);
}

.rc-demo-widgets-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 1rem;
  width: 100%;
}

.rc-demo-widgets {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 95%;
}

.app-header {
  align-items: center;
  align-self: flex-start;
  display: flex;
  height: 50px;
  padding: 0.25rem 0;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;

  &:not(.dark) {
    background: rgba($color: var(--rc-primary-color-rgb), $alpha: 0.95);
  }

  &.dark {
    background: rgba($color: var(--rc-secondary-color-rgb), $alpha: 0.95);
  }
}

@media (min-width: 1200px) {
  .app-header:not(.is-landing) {
    width: calc(100% - 300px);
  }
}

@media (min-width: 2560px) {
  .app-header {
    width: 100%;
  }
}

.rc-demo-app-logo {
  align-items: center;
  color: var(--rc-primary-color-hex);
  display: flex;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
}

.rc-demo-logo-icon-wrapper svg {
  height: 100%;
  width: 100%;
}

.rc-demo-app-logo svg {
  max-height: 100%;
  max-width: 100%;
}
