@use "../../design/layout.scss";
@use "../../design/colors.scss";
@use "../../design/position.scss";

.rc-auto-complete {
  position: relative;
}

.rc-auto-complete-input-wrapper {
  @extend %center;
  height: 40px;
}

.rc-auto-complete-suggestions-wrapper {
  @extend %shadow-small;
  @extend %border-radius;
  background-color: colors.$white;
  width: var(--suggestions-width, 200px);
}
