@use "../../design/layout.scss";
@use "../../design/colors.scss";
@use "../../design/icon.scss";
@use "../../design/animate.scss";

$header-height: 35px;
$transition: max-height 0.5s var(--transition), opacity 0.5s var(--transition);

.rc-accordion {
  @extend %col;
  align-items: flex-start;
  width: 100%;

  &:not(.rc-accordion-no-border) {
    @extend %border;
  }
}

.rc-accordion-header {
  @extend %left;
  color: var(--title-color);
  cursor: pointer;
  height: $header-height;
  justify-items: center;
  position: relative;
  text-transform: capitalize;
  
  &.rc-accordion-focusable {
    @include animate.halo();
  }

  &:not(.rc-accordion-align-icon-rt):not(.rc-accordion-disable-icon):not(.rc-accordion-header-icon) {
    display: grid;
    grid-template-columns: 2rem calc(100% - 2rem);
  }
}

.rc-accordion-align-icon-rt {
  display: grid;
  grid-template-columns: calc(100% - 2rem) 2rem;
  justify-items: center;

  > :nth-of-type(1) {
    order: 2;
  }

  > :nth-of-type(2) {
    order: 1;
  }
}

.rc-accordion-body {
  margin: 0 auto;
  max-height: var(--max-height);
  overflow: hidden;
  width: 100%;

  &.rc-accordion-open {
    opacity: 1;
    transition: $transition;
  }

  &.rc-accordion-close {
    max-height: 0;
    opacity: 0;
    transition: $transition;
  }
}

.rc-accordion-title-text {
  display: block;
  font-size: 1rem;
  font-weight: 400;
  height: 100%;
  justify-self: flex-start;
  padding-left: 0.5rem;
  white-space: nowrap;
}

.rc-accordion-title {
  @extend %left;
}

.rc-accordion-icon {
  @extend %icon-md;
  color: var(--icon-color);
  cursor: pointer;
  transition: transform 0.2s ease-in;

  &.rc-accordion-icon-open:not(.rc-accordion-icon-plus):not(.rc-accordion-custom-icon) {
    transform: rotate(90deg);
  }
}
