@use "../../design/layout.scss";
@use "../../design/colors.scss";
@use "../../design/icon.scss";
@use "../../design/animate.scss";

$header-height: 32px;

.rc-accordion {
  @extend %col;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.5rem;
  width: 100%;

  &:not(.rc-accordion-no-border) {
    @extend %border;
    @extend %shadow-inset;
  }
}

.rc-accordion-header {
  @extend %left;
  @include animate.halo();
  cursor: pointer;
  height: $header-height;
  width: 100%;
}

.rc-accordion-body {
  margin: 0 auto;
  overflow: hidden;
  transition: max-height 0.5s var(--transition), opacity 0.5s var(--transition);
  width: 95%;

  &.rc-accordion-open {
    max-height: var(--max-height);
    opacity: 1;
  }

  &.rc-accordion-close {
    max-height: 0;
    opacity: 0;
  }
}

.rc-accordion-title {
  @extend %center;
  padding-left: 6px;
}

.rc-accordion-icon {
  @extend %icon-md;
  cursor: pointer;
  transition: transform 0.2s ease-in;

  &.rc-accordion-icon-open {
    transform: rotate(90deg);
  }
}
