@use "../../design/layout.scss";
@use "../../design/icon.scss";
@use "../../design/animate.scss";

$item-height: 30px;

.rc-tree-item {
  $max-height: var(--max-height);
  @extend %left;

  align-items: flex-start;
  overflow: hidden;
  padding: 0.2rem 0;
  width: 100%;

  &.rc-tree-item-exp {
    max-height: $max-height;
    transition: max-height 0.25s cubic-bezier(0.77, 0, 0.18, 1);
  }

  &.rc-tree-item-collapsed {
    max-height: $item-height;
    transition: max-height 0.25s cubic-bezier(0.77, 0, 0.18, 1);
  }
}

.rc-tree-item-icon {
  @extend %icon-md;
  @extend %left;
  cursor: pointer;

  &.rc-tree-item-icon-exp {
    transform: rotate(90deg);
  }

  &.rc-tree-item-icon-hide {
    visibility: hidden;
  }
}

.rc-tree-item-name {
  @extend %left;
  align-items: flex-start;
  font-size: 1rem;
  height: 30px;
  padding-left: 0.1rem;
  padding-top: 0.1rem;
}

.rc-tree-item-child-container {
  @extend %left;
  align-items: flex-start;
  overflow: hidden;
  transition: opacity 0.2s ease-in;

  &.rc-tree-item-child-expanded {
    opacity: 1;
  }

  &.rc-tree-item-child-collapsed {
    opacity: 0;
  }
}

.rc-tree-item-checkbox-wrapper {
  @extend %left;
  padding-top: 0.2rem;
}
