@use "../../design/layout.scss";
@use "../../design/icon.scss";
@use "../../design/list.scss";

.rc-tree-wrapper {
  @extend %list-left;
  @extend %border;
  justify-content: flex-start;
  min-height: var(--min-height);
  min-width: 200px;
  padding: 0.5rem;
}
