@use "../../design/layout.scss";
@use "../../design/icon.scss";
@use "../../design/animate.scss";
@use "../../design/colors.scss";

$item-height: 30px;

.rc-tree-item {
  $max-height: var(--max-height);
  @extend %left;

  align-items: flex-start;
  max-width: var(--max-width);
  overflow: hidden;
  padding: 0.2rem 0;
  width: 100%;

  // &.rc-tree-item-exp {
  // }

  // &.rc-tree-item-collapsed {
  // }

  &.rc-tree-item-disabled {
    @extend %disabled;
  }
}

.rc-tree-item-wrapper {
  width: calc(var(--max-width) - 24px);
}

.rc-tree-item-icon {
  @extend %icon-lg;
  @extend %left;
  cursor: pointer;
  transition: transform 0.25s cubic-bezier(0.77, 0, 0.18, 1);

  &.rc-tree-item-icon-exp:not(.rc-tree-item-icon-plus) {
    transform: rotate(90deg);
  }

  &.rc-tree-item-icon-hide {
    visibility: hidden;
  }
}

.rc-tree-item-name {
  align-items: flex-start;
  display: block;
  font-size: 1rem;
  height: 30px;
  overflow: hidden;
  padding-left: 0.1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rc-tree-item-child-container {
  @extend %left;
  align-items: flex-start;
  overflow: hidden;
  transition: max-height 0.25s cubic-bezier(0.77, 0, 0.18, 1),
    opacity 0.2s ease-in;

  &.rc-tree-item-child-expanded {
    max-height: var(--max-height);
    opacity: 1;
  }

  &.rc-tree-item-child-collapsed {
    max-height: 0;
    opacity: 0;
  }
}

.rc-tree-item-checkbox-wrapper {
  @extend %left;
}
