@use "../../design/layout.scss";
@use "../../design/colors.scss";
@use "../../design/position.scss";

.rc-slider-wrapper {
  @extend %center;
  height: 100px;
  min-width: 100px;
  width: 100%;

  &.rc-slider-wrapper-disabled {
    @extend %disabled;
  }
}

.rc-slider-control {
  @include position.position-abs("center left");
  background: colors.$primary;
  cursor: pointer;
  height: var(--size);
  outline: 0;
  position: absolute;
  transition: box-shadow 0.3s ease-in-out;
  width: var(--size);
  z-index: 10;

  &.rc-slider-control-circle {
    border-radius: 50%;
  }

  &.rc-slider-control-square {
    border-radius: 2px;
  }

  &.rc-slider-control-dragging {
    box-shadow: 0 0 1px calc(var(--size) / 2) rgba(colors.$primary, 0.25);
  }

  &:not(.rc-slider-control-dragging) {
    box-shadow: none;
  }
}

.rc-slider-track {
  @extend %border-radius;
  // background: rgba(colors.$secondary, 0.5);
  background: colors.$gray;
  height: 5px;
  position: relative;
  width: 100%;
}

.rc-slider-track-progress {
  @extend %border-radius;
  @include position.position-abs("center left");
  background: colors.$secondary;
  height: 100%;
}

.rc-slider-fill {
  @extend %border-radius-left;
  @include position.position-abs("center left");
  background: rgba(colors.$primary, 0.75);
  // background-color: colors.$secondary;
  display: block;
  height: 100%;
}

.tooltip-placer {
  display: block;
  visibility: hidden;
}
