on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]

name: Sonar Workflow

jobs:
  sonarcloud:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Cache SonarCloud dependencies
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v5
        with:
          projectBaseDir: packages/lib/
          args: >
            -Dsonar.organization=react-creme
            -Dsonar.projectKey=react-creme
            -Dsonar.sources=.
            -Dsonar.exclusions=coverage/**
            -Dsonar.test.exclusions=tests/**
            -Dsonar.javascript.lcov.reportPaths=coverage/lcov.info
            -Dsonar.verbose=true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
